In [1]:
# -*- coding: utf-8 -*-

## Aula 4 - AVALIAÇÃO

Testar o objeto KNNRegressor num jupyter notebook usando o dataset cpu.csv (regressão)

In [2]:
import numpy as np
import os
import sys
sys.path.insert(0, os.path.abspath(os.path.join(os.path.dirname('C:/Users/Asus/si/src/si'), '..')))

from src.si.io.csv import read_csv
from src.si.neighbors.knn_regressor import KNNRegressor
from src.si.model_selection.split import train_test_split

In [3]:
# importar o dataset

dataset = 'C:/Users/Asus/si/datasets/cpu.csv'

# ler dataset com read csv

data = read_csv(dataset, sep=",", label=True, features=True)
data.print_dataframe()

     syct  mmin   mmax  cach  chmin  chmax
198   125   256   6000   256     16    128
269    29  8000  32000    32      8     32
220    29  8000  32000    32      8     32
172    29  8000  32000    32      8     32
132    29  8000  16000    32      8     16
..    ...   ...    ...   ...    ...    ...
42    124  1000   8000     0      1      8
46     98  1000   8000    32      2      8
52    125  2000   8000     0      2     14
67    480   512   8000    32      0      0
45    480  1000   4000     0      0      0

[209 rows x 6 columns]

In [4]:
#dividir em teste e treino

train, test = train_test_split(data)

In [5]:
train.shape()

(168, 6)

In [6]:
test.shape()

(41, 6)

In [7]:
k = 2

kmeans = KNNRegressor(k)
kmeans.fit(train)

In [8]:
print('Score de treino: ', kmeans.score(train))

Score de treino:  39.68707583200403

In [9]:
print('Score de teste: ', kmeans.score(test))

Score de teste:  61.366501945080834

In [9]:
###### Testar KNNRegressor com k diferente

In [15]:
#testar KNNRegressor

k = 10

kmeans = KNNRegressor(k)

#treinar modelo
train_fit = kmeans.fit(train)
print('Treino: ', train_fit)
print('Score treino: ', kmeans.score(train))
print('')

#testar modelo
predict = kmeans.predict(test)
print('Teste: ', predict)
print('Score teste: ', kmeans.score(test))

Treino:  <src.si.neighbors.knn_regressor.KNNRegressor object at 0x00000293FE48F1C0>
Score treino:  75.82267455181514

Teste:  [ 59.5  29.3  33.3 409.4  36.1 281.9  44.1  18.2 522.  223.1  87.8 107.1
  69.2  64.   72.5  63.5  65.6  55.  144.8 106.9  64.9  64.9 109.1  34.5
  17.1  61.8  20.6  33.1  20.6  77.4 281.9  33.1  49.   20.6  19.7  44.1
  36.1 374.7  96.6  30.9 261.4]
Score teste:  132.53649290372638